<!-- header -->
<div class="row commo-row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3"><span class="small">Function</span></div>
      <div class="col-xs-3 bl"><span class="small">Freq RX</span></div>
      <div class="col-xs-3 bl"><span class="small">Freq TX</span></div>
      <div class="col-xs-3 bl"><span class="small">Tone</span></div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3 bl"><span class="small">System</span></div>
      <div class="col-xs-3 bl"><span class="small">Assigned</span></div>
      <div class="col-xs-3 bl"><span class="small">System</span></div>
      <div class="col-xs-3 bl"><span class="small">Channel</span></div>
    </div>      
  </div>
</div>

<div class="row commo-row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-3 bl"></div>
      <div class="col-xs-3 bl"></div>
      <div class="col-xs-3 bl"></div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3 bl"></div>
      <div class="col-xs-3 bl"></div>
      <div class="col-xs-3 bl"></div>
      <div class="col-xs-3 bl"></div>
    </div>      
  </div>
</div>