<table class="assigned-resources">
  <thead class="">
    <th class="c1"><span class="">Zone</span></th>
    <th class="c1"><span class="">Ch #</span></th>
    <th class="c3"><span class="">Channel Name</span></th>
    <th class="c3"><span class="">Function</span></th>
    <th class="c2"><span class="">RX Freq</span></th>
    <th class="c2"><span class="">Tone</span></th>
    <th class="c2"><span class="">TX Freq</span></th>
    <th class="c2"><span class="">Tone</span></th>
    <th class="c4"><span class="">Assignment</span></th>
    <th class="c3"><span class="">Remarks</span></th>
  </thead>
  <% 5.times do %>
    <tr>
      <td class="c1"><span class=""></span></td>
      <td class="c1"><span class=""></span></td>
      <td class="c3"><span class=""></span></td>
      <td class="c3"><span class=""></span></td>
      <td class="c2"><span class=""></span></td>
      <td class="c2"><span class=""></span></td>
      <td class="c2"><span class=""></span></td>
      <td class="c2"><span class=""></span></td>
      <td class="c4"><span class=""></span></td>
      <td class="c3"><span class=""></span></td>
    </tr>
  <% end %>
</table>