/* line 1, app/assets/stylesheets/commo_plans.scss */
#commo-plan {
  font-size: .70em;
}

/* line 2, app/assets/stylesheets/commo_plans.scss */
#commo-plan table {
  width: 100%;
}

/* line 4, app/assets/stylesheets/commo_plans.scss */
#commo-plan table thead {
  height: 20px;
  border: 1px solid black;
}

/* line 8, app/assets/stylesheets/commo_plans.scss */
#commo-plan table th {
  text-align: center;
  border-right: 1px solid black;
}

/* line 12, app/assets/stylesheets/commo_plans.scss */
#commo-plan table tr {
  height: 30px;
}

/* line 15, app/assets/stylesheets/commo_plans.scss */
#commo-plan table td {
  border-right: 1px solid black;
}

/* line 20, app/assets/stylesheets/commo_plans.scss */
#commo-plan .plan-panel-head {
  font-size: 1em !important;
}

/* line 23, app/assets/stylesheets/commo_plans.scss */
#commo-plan .top-row {
  text-align: center;
}

/* line 26, app/assets/stylesheets/commo_plans.scss */
#commo-plan .c1 {
  width: 5%;
}

/* line 30, app/assets/stylesheets/commo_plans.scss */
#commo-plan .c2 {
  width: 8%;
}

/* line 34, app/assets/stylesheets/commo_plans.scss */
#commo-plan .c3 {
  width: 15%;
}

/* line 38, app/assets/stylesheets/commo_plans.scss */
#commo-plan .c4 {
  width: 13%;
}

/* line 42, app/assets/stylesheets/commo_plans.scss */
#commo-plan h4 {
  margin-top: 5px;
}

/* line 46, app/assets/stylesheets/commo_plans.scss */
.r-b {
  border-right: 1px solid black;
  min-height: 30px;
}

/* line 50, app/assets/stylesheets/commo_plans.scss */
.tall-row {
  height: 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

/* line 56, app/assets/stylesheets/commo_plans.scss */
.tbl-hd {
  padding: 0px;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  overflow: hidden;
}

/* line 64, app/assets/stylesheets/commo_plans.scss */
.head-spacer {
  background-color: #f3f3f3;
  min-height: 13px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

/* line 70, app/assets/stylesheets/commo_plans.scss */
.wrapper {
  /* this is to make sure border comes all the way to edge. */
  margin-right: -1px;
  /*  otherwise it is 1px shy */
}

/* line 74, app/assets/stylesheets/commo_plans.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}

/* line 77, app/assets/stylesheets/commo_plans.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: pink;
}

/* line 80, app/assets/stylesheets/commo_plans.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  color: pink;
}

/* line 83, app/assets/stylesheets/commo_plans.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: pink;
}

/* line 87, app/assets/stylesheets/commo_plans.scss */
.radio-channel {
  min-height: 30px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
  verticle-align: middle;
}

/* line 93, app/assets/stylesheets/commo_plans.scss */
.radio-channel :hover .new-channel {
  display: block;
}

/* line 98, app/assets/stylesheets/commo_plans.scss */
.radio-channel input {
  width: 100%;
}

/* line 102, app/assets/stylesheets/commo_plans.scss */
.new-channel {
  postion: absolute;
  background-color: yellow;
  margin-left: -35px;
  height: 30px;
  width: 30px;
}

/* line 109, app/assets/stylesheets/commo_plans.scss */
.special-instructions {
  padding: 0px 10px;
  height: 50px;
  max-height: 50px;
}

/* line 111, app/assets/stylesheets/commo_plans.scss */
.special-instructions textarea {
  width: 100%;
}

/* line 117, app/assets/stylesheets/commo_plans.scss */
.commo-item-form {
  display: none;
}

/* line 120, app/assets/stylesheets/commo_plans.scss */
input.new-commo-item {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d2d2d2;
  border: none;
  font-size: 20px;
  font-weight: 400;
  line-height: 7px;
  padding-bottom: 6px;
  padding-left: 4px;
  color: #242424;
}

/* line 134, app/assets/stylesheets/commo_plans.scss */
.br {
  border-right: 1px solid black;
}

/* line 137, app/assets/stylesheets/commo_plans.scss */
.bb {
  border-bottom: 1px solid black;
}

/* line 140, app/assets/stylesheets/commo_plans.scss */
.commo-items {
  margin-right: 20px;
  font-weight: 500;
}
