/* line 2, app/assets/stylesheets/demobs.css.scss */
#demob-sheet #form-container {
  margin: 0px;
  padding: 0 10px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  width: 740px;
}

/* line 10, app/assets/stylesheets/demobs.css.scss */
#demob-sheet #form-container div {
  line-height: 1.7em;
}

/* line 13, app/assets/stylesheets/demobs.css.scss */
#demob-sheet #form-container input, #demob-sheet #form-container textarea {
  border: none;
}

/* line 17, app/assets/stylesheets/demobs.css.scss */
#demob-sheet .small {
  font-weight: 777;
}

/* line 20, app/assets/stylesheets/demobs.css.scss */
#demob-sheet p {
  font-size: .80em;
  padding: 0 10px;
  line-height: 1.7em;
}

/* line 25, app/assets/stylesheets/demobs.css.scss */
#demob-sheet h1, #demob-sheet h2, #demob-sheet h3, #demob-sheet h4, #demob-sheet h5, #demob-sheet h6 {
  font-weight: 777;
  color: #444;
}

/* line 29, app/assets/stylesheets/demobs.css.scss */
#demob-sheet .units-container {
  /*border-bottom: 1px solid black;*/
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
}

/* line 37, app/assets/stylesheets/demobs.css.scss */
.custom-table {
  margin-bottom: 0;
}

/* line 39, app/assets/stylesheets/demobs.css.scss */
.custom-table th {
  font-size: 0.9em;
  font-weight: 777;
  padding-top: 0;
}

/* line 44, app/assets/stylesheets/demobs.css.scss */
.custom-table thead {
  border-bottom: 1px solid black;
}

/* line 47, app/assets/stylesheets/demobs.css.scss */
.custom-table td {
  padding: 4px 0 0 3px !important;
  font-size: 0.7em;
  border-top: 1px solid black !important;
}

/* line 52, app/assets/stylesheets/demobs.css.scss */
.custom-table .head-row {
  padding-top: 0 !important;
  border-bottom: 1px solid black !important;
}

/* line 58, app/assets/stylesheets/demobs.css.scss */
#finance-table tbody tr:last-child {
  border-bottom: 1px solid black !important;
}

/* line 63, app/assets/stylesheets/demobs.css.scss */
#logs-table tbody tr:last-child {
  border-bottom: 1px solid black !important;
}

/* line 68, app/assets/stylesheets/demobs.css.scss */
#other-table tbody tr:last-child {
  border-bottom: 1px solid black !important;
}

/* line 72, app/assets/stylesheets/demobs.css.scss */
#demob-remarks {
  height: 100px;
  overflow: hidden;
}

/* line 76, app/assets/stylesheets/demobs.css.scss */
#demob-transportation {
  font-size: 0.7em;
}

/* line 78, app/assets/stylesheets/demobs.css.scss */
#demob-transportation input {
  font-weight: 777;
}

/* line 82, app/assets/stylesheets/demobs.css.scss */
#transportation-header {
  font-weight: 777;
  margin-left: -15px;
}

/* line 86, app/assets/stylesheets/demobs.css.scss */
#reassignment-header {
  font-weight: 777;
}

/* line 90, app/assets/stylesheets/demobs.css.scss */
#reassignment-info {
  font-size: 0.7em;
  overflow: hidden;
}

/* line 94, app/assets/stylesheets/demobs.css.scss */
#prepared-by-row {
  font-size: 0.7em;
  overflow: hidden;
}

/* line 98, app/assets/stylesheets/demobs.css.scss */
#prepared-by-header {
  font-weight: 777;
  margin-left: -15px;
  margin-right: 10px;
}

/* line 103, app/assets/stylesheets/demobs.css.scss */
#remarks-content {
  font-size: 0.9em;
  overflow: hidden;
}

/* line 106, app/assets/stylesheets/demobs.css.scss */
#remarks-content input {
  width: 100%;
  min-height: 60px;
}

/* line 111, app/assets/stylesheets/demobs.css.scss */
#demob-form-button {
  display: none;
}

/* line 114, app/assets/stylesheets/demobs.css.scss */
.strong {
  font-weight: 777;
}
