/* line 35, app/assets/stylesheets/global.scss */
.page-header {
  margin-top: 0px !important;
}

/* line 37, app/assets/stylesheets/global.scss */
.page-header a.btn {
  float: right;
}

/* line 41, app/assets/stylesheets/global.scss */
.page-header a.btn + a.btn {
  margin-right: 8px;
}

/* line 48, app/assets/stylesheets/global.scss */
body {
  padding-right: 0;
  padding-left: 0;
  margin: 0;
}

/* line 90, app/assets/stylesheets/global.scss */
h1, .h1 {
  margin-top: 0 !important;
}

/*$btn-primary-border:             $gray-lighter;*/
/* line 99, app/assets/stylesheets/global.scss */
.btn {
  border: none !important;
}

/* line 103, app/assets/stylesheets/global.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:hover, .btn-primary:active:focus {
  background: #115599 !important;
  border-colorbackground: #115599 !important;
}

/* line 122, app/assets/stylesheets/global.scss */
.field_with_errors input, .field_with_errors select {
  border: 1px solid #A94442;
}

/* line 128, app/assets/stylesheets/global.scss */
label, dt {
  font-weight: 600 !important;
}

/* line 133, app/assets/stylesheets/global.scss */
.required label {
  font-weight: bold;
}

/* line 137, app/assets/stylesheets/global.scss */
.required label:after {
  color: #e32;
  content: ' *';
  display: inline;
}

/* line 145, app/assets/stylesheets/global.scss */
.filter > .panel-heading, panel > .panel-heading {
  background-color: #eeeeee !important;
  font-weight: 500;
}

/* line 149, app/assets/stylesheets/global.scss */
.filter > .panel-body, panel > .panel-body {
  background-color: #fafafa !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

/*$navbar-default-link-hover-bg:             $brand-light;*/
/*$navbar-default-link-active-bg:            $brand-light;*/
/*$navbar-default-link-disabled-bg:          $brand-light;*/
/* line 169, app/assets/stylesheets/global.scss */
.nav > li > a {
  font-weight: 500;
}

/* line 174, app/assets/stylesheets/global.scss */
body {
  padding-top: 80px;
}

/* line 179, app/assets/stylesheets/global.scss */
.navbar-brand {
  padding-top: 20px !important;
  font-size: 2em;
}

/* line 209, app/assets/stylesheets/global.scss */
dt, dd {
  padding: 5px 0 5px 0;
}

/* line 215, app/assets/stylesheets/global.scss */
.center-block {
  float: none !important;
}

/* line 218, app/assets/stylesheets/global.scss */
.footer {
  margin-top: 10px;
}

/* line 225, app/assets/stylesheets/global.scss */
.custom-index-table th:last-of-type {
  width: 120px;
}

/* line 228, app/assets/stylesheets/global.scss */
.custom-index-table td:last-of-type {
  text-align: center;
}

/* line 230, app/assets/stylesheets/global.scss */
.custom-index-table td:last-of-type a {
  text-decoration: none !important;
}

/* line 234, app/assets/stylesheets/global.scss */
.custom-index-table th, .custom-index-table td {
  vertical-align: middle !important;
  padding: 10px !important;
}

/* line 238, app/assets/stylesheets/global.scss */
.custom-index-table th {
  text-align: center;
  background-color: #eeeeee;
  font-weight: 500;
}

/* line 248, app/assets/stylesheets/global.scss */
.table-curved, .custom-index-table {
  border-collapse: separate;
  border: solid #eeeeee 1px;
  border-radius: 6px;
  border-left: 0px;
  border-top: 0px;
}

/* line 255, app/assets/stylesheets/global.scss */
.table-curved thead:first-child tr:first-child th, .custom-index-table thead:first-child tr:first-child th {
  border-bottom: 0px;
  border-top: solid #eeeeee 1px;
}

/* line 260, app/assets/stylesheets/global.scss */
.table-curved td, .custom-index-table td, .table-curved th, .custom-index-table th {
  border-left: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
}

/* line 266, app/assets/stylesheets/global.scss */
.table-curved :first-child :first-child :first-child, .custom-index-table :first-child :first-child :first-child {
  border-top-left-radius: 6px;
}

/* line 269, app/assets/stylesheets/global.scss */
.table-curved :first-child :first-child :last-child, .custom-index-table :first-child :first-child :last-child {
  border-top-right-radius: 6px;
}

/* line 275, app/assets/stylesheets/global.scss */
.table-curved :last-child :last-child :first-child, .custom-index-table :last-child :last-child :first-child {
  border-bottom-left-radius: 6px;
}

/* line 278, app/assets/stylesheets/global.scss */
.table-curved :last-child :last-child :last-child, .custom-index-table :last-child :last-child :last-child {
  border-bottom-right-radius: 6px;
}

/* Buttons*/
/* line 284, app/assets/stylesheets/global.scss */
.new-btn {
  height: 40px;
  width: 40px;
  background-color: #F1F1F1;
  border-radius: 40px;
  font-size: 2.5em;
}

/* line 291, app/assets/stylesheets/global.scss */
.btn-wide {
  width: 100%;
}

/* line 294, app/assets/stylesheets/global.scss */
.btn-default {
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
}

/* line 299, app/assets/stylesheets/global.scss */
.action-icon {
  font-size: 1.2em;
  margin: 2px;
  color: #002f5e !important;
}

/* line 303, app/assets/stylesheets/global.scss */
.action-icon:hover, .action-icon:focus {
  color: #115599 !important;
}

/* line 308, app/assets/stylesheets/global.scss */
a.btn-danger {
  color: white;
}

/* line 312, app/assets/stylesheets/global.scss */
div.alert {
  margin-right: 2% !important;
  margin-left: 2% !important;
}
