<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 center-block">
      
      <h1>Incidents</h1>

      <% if @incidents.empty?  %>
      <h3>Begin by adding and incident</h3>
      <% end %>
        <% @incidents.each do |incident| %>
        <ul class="incidents-list">
          <%= link_to incident_plans_path(incident) do  %>
            <li>Fire <%= incident.number %> – <%= incident.name %></li>
          <% end %>
        </ul>
          
          <% end %> 
      <br>

      <%= link_to 'New Incident', new_incident_path %>
    </div>
  </div>
</div>
