<div class="container">
  <div class="row">
    <div class="col-lg-8 col-xs-12 center-block">
    <!-- <h1>New Incident</h1> -->

      <%= render 'ui_form', incident: @incident %>

      <%= link_to 'Back', incidents_path %>
          
    </div>
  </div>
</div>