<div class="new-block-type">
  <div class="cancel-block"><h3>X</h3></div>
  <h3 class="center">Select A Block Type</h3>
    <span class="h1-text block-type-option" data-font-size="h1"><h1>H1</h1></span>  
    <span class="h2-text block-type-option" data-font-size="h2"><h2>H2</h2></span>
    <span class="h3-text block-type-option" data-font-size="h3"><h3>H3</h3></span>
    <span class="h4-text block-type-option" data-font-size="h4"><h4>H4</h4></span>
    <span class="normal-text block-type-option" data-font-weight="normal">Norm</span>
    <span class="semi-text semi-bold block-type-option" data-font-weight="semi-bold">Semi</span>
    <span class="bold-text bold block-type-option" data-font-weight="bold">Bold</span>
    <span class="italic-text block-type-option" data-text-style="italic"><em>Italic</em></span>
    <span class="add-image-block block-type-option" data-image-block="true"><%= image_tag('white-image.png') %></span>
    <span class="split-block"><%= image_tag('split-block.png') %></span>
</div>