<div class="new-block-form">
  <%= form_for @block do |f| %>
    <%= f.hidden_field :cover_id, value: @cover.id %>
    <%= f.hidden_field :position, id: 'new-block-position' %>
    <%= f.submit '+', class: "new-block-button" %>
  <% end %>
</div>