<style>
  .split-block-container {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .split-block-wrapper {
    flex: 1;
    width: 50%;
  }
  .resizers {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }
  .resizers.no-image {
    background-color: #f0f0f0;
    min-height: 200px;
  }
  .cover-image {
    width: 100%;
    height: auto;
  }
  .block {
    /*margin-bottom: 20px;*/
  }
  .h1 { font-size: 2.5em; }
  .h2 { font-size: 2em; }
  .h3 { font-size: 1.75em; }
  .h4 { font-size: 1.5em; }
  .bold { font-weight: bold; }
  .semi-bold { font-weight: 600; }
  .normal { font-weight: normal; }
  .italic { font-style: italic; }
</style>

<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">
    <div class="row">
      <div id="cover">
<!-- Display blocks -->
       <% processed_blocks = [] %>
       <% @blocks.each do |b| %>
         <% next if processed_blocks.include?(b.id) %>
         
         <% if b.split_block? && b.pair_id.present? %>
           <% # Find the paired block %>
           <% paired_block = @blocks.find { |pb| pb.pair_id == b.pair_id && pb.id != b.id } %>
           <% if paired_block %>
             <% processed_blocks << b.id << paired_block.id %>
             <div class="split-block-container">
               <div class="split-block-wrapper">
                 <%= render 'pdf_block_content', block: b %>
               </div>
               <div class="split-block-wrapper">
                 <%= render 'pdf_block_content', block: paired_block %>
               </div>
             </div>
           <% else %>
             <div>
               <%= render 'pdf_block_content', block: b %>
             </div>
           <% end %>
         <% else %>
           <div>
             <%= render 'pdf_block_content', block: b %>
           </div>
         <% end %>
       <% end %>
<!-- End blocks display -->   
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).on("turbolinks:load", function() {
      $('#header').hide();
      $('body').css("padding-top", 35);
      $('body').css("padding-right", 10);
      $('body').css("padding-left", 10);
      $('#cover').css("border", 'none');
      $('.footer').hide();
    });
  </script>