<%= content_for :title, 'Home' %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="p-container">
        <div class="p-cycle">
          <div class="stage tactics">
            <div class="text-box">
              Tactics Meeting
            </div>
            <div class="arrow-up-border">
              <div class="arrow-up">
              </div>

              <div class="arrow-up-stem">
              </div>
            </div>
          </div>

          <div class="stage prep-plan">
            <div class="text-box">
              Prepare for the Planning Meeting
            </div>
          </div>

          <div class="stage planning">
            <div class="arrow-right-border">
              <div class="arrow-right">
              </div>
              <div class="arrow-right-stem">
              </div>
            </div>
            <div class="text-box">
              Planning Meeting
            </div>
          </div>

          <div class="stage prep-tactics">
            <div class="text-box">
              Preparing for the Tactics Meeting
            </div>
            <div class="right-box">
              IAP Prep & Approval
            </div>
          </div>

          <div class="stage c_g">
            <div class="text-box">
              Command & General Staff Meeting/Briefing
            </div>
            <div class="right-box">
              <div class="arrow-down-border">
                <div class="arrow-down">
                </div>
                <div class="arrow-down-stem">

                </div>
              </div>
              <div class="text-box">
                Operations Briefing
              </div>
            </div>
          </div>

          <div class="stage objectives">
            <div class="">
              IC/ UC Develop/Update Objectives Meeting
            </div>
          </div>

          <div class="stage execute">
            <div class="text-box">
              Execute Plan & Assess Progress
            </div>
            <div class="new-ops">
              New Ops Period Begins
            </div>
          </div>

          <div class="center-p">

          </div>
        </div>

        <!-- <div class="stem salmon">
          <div class="stage ic-meet">
            Initial IC
            Meeting
          </div>
          <div class="stage inbrief">
            Incident Brief ICS-201
          </div>
          <div class="stage initial">
            Initial Response & Assessment
          </div>
          <div class="stage notification">
            Notification
          </div>
          <div class="stage incident">
            Incident/Event
          </div>
        </div> -->
      </div>

      </div>
  </div>
</div>