$("#resources").append('<li><%= @resource.cat =><%= @resource.order_number %>  <%= @resource.name %>  <%= @resource.position %></li>')
$("#new_resource").trigger("reset");
$('#resource-form').hide();
$("#new-resource").show();