/*

 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-datepicker3
 *= require sweetalert2/dist/sweetalert2
 *= require font-awesome
 *= require_tree .
 */

// Contains our custom variables which override their equivalents in
// bootstrap _variables.scss. Must be imported before "bootstrap" and
// "bootstrap-sprockets".
@import "global";

// "bootstrap-sprockets" must be imported before "bootstrap" and
// "bootstrap/variables
@import "bootstrap-sprockets";
@import "bootstrap";
 

 @import "font-awesome";
 /*@import 'font_awesome5';*/
 

@font-face {
  font-family: 'FontAwesome';
  src: url('<%= asset_path("fontawesome-webfont.eot")%>?v=4.7.0');
  src: url('<%= asset_path("fontawesome-webfont.eot")%>?#iefix&v=4.7.0') format('embedded-opentype'),
       url('<%= asset_path("fontawesome-webfont.woff")%>?v=4.7.0') format('woff'),
       url('<%= asset_path("fontawesome-webfont.ttf")%>?v=4.7.0') format('truetype'),
       url('<%= asset_path("fontawesome-webfont.svg")%>?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h3.centered {
  text-align: center;
}
td.centered {
  text-align: center !important;
}