$aqua: #07c5ff;

.wide-textarea {
  width: 100%;
}
.commo-row {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  div {
    min-height: 30px;
  }
}
.assignments-lists {
  margin-top: 0;
  border-top:1px solid #DDD;
  list-style: none;
  padding-left: 0;
  li {
    padding: 10px;
  }
  a {
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }
  p {
    padding-left: 10px;
  }
}
.assignment-box {
  .header {
    margin-bottom: 15px;
    padding-top: 5px;
  }
  border-right: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}
table.assigned-resources {
  border-top: 1px solid black;
  width: 100%;
  thead {
    border-right: 1px solid black;
  }
  tr {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
  }
  td {
    height: 30px;
    border-right: 1px solid black;
  }
  th {
    font-weight: 400;
    font-size: .70em;
    height: 30px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
  }
}
.form-box {
  height: 30px;
  border-left: 1px solid black;
  padding: 0px 5px;
}
