.block {
  min-height: 30px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  &:hover {
  border: 2px dashed #484848;
  }
}
.block-selected {
  border: 2px dashed #c3c3c3;
}
.style-controls {
  position: absolute;
  left:-25px;
  display: none;
  padding: 10px;
  color: white;
  background-color: #3c3c3c;
  line-height: 2.5em;
  h1 {
    font-size: 2em !important;
    color: white;
  }
  h2 {
    font-size: 1.75em !important;
    color: white;
  }
  h3 {
    font-size: 1.25em !important;
    color: white;
  }
  h4 {
    font-size: 1em !important;
    color: white;
  }
  label {
    font-size: 1.5em;
  }
  select {
    color: black;
  }
  #font-size {
    width: 40px;
  }

  li {
  list-style: none;
  }
  i {
    font-size: 2em;
  }
  img {
    width: 25px;
    height: 25px;
  }
}
#cover {
  padding-top: 0px;
  min-height: 936px;
  text-align: center;
  border: 2px solid #DDD;
  h1 {
    font-weight: 700;
    font-size: 3em;
  }
  h2 {
    font-weight: 700;
    font-size: 2em;
  }
  #picture {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 75%;
    height: auto;
  }
  .cost-code {
    margin-top: 30px;
    h3 {
    font-weight: 700;
    }
  }
}
.cover-block {
  border: 1px dashed orange;
  overflow: hidden;
}
.sm-spacer {
  height: 25px;
  overflow: hidden;
}
.md-spacer {
  height: 50px;
  overflow: hidden;
}
.lg-spacer {
  height: 75px;
  overflow: hidden;
}

.add-block-button {
  z-index: 3;
  overflow: hidden;
  position: absolute;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  border-radius: 50%; 
  -webkit-box-shadow: 10px 10px 43px 21px rgba(191, 163, 163, 0.75);
  -moz-box-shadow: 10px 10px 43px 21px rgba(191, 163, 163, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(191, 163, 163, 0.75);
  background-color: #f5f5f5;
  z-index: 3;
  justify-content: center; 
  align-items: center;
  display: flex;
  padding-left: 0px;
  padding-bottom: 7px;
  display: none;
  margin-top: 5px;
  color :#3d3d3d;
  left: -16px;
  i {
    margin-top: 10px;
    margin-left: 6px;
  }
  font-size: 2em;
  font-weight: 300;

  a {
    color: #3d3d3d !important;
  }
}
.new-block-form {
  
  float: left;
  text-align: center;
  width: 100%;
  margin-top: -11px; 
  display: none;
  height: 25px;
}
#new_block {
  height: 15px;
  /*display: none;*/
}
.new-block-button {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #d2d2d2;
  border: none;
  font-size: 20px;
  font-weight: 400; 
  line-height: 7px;
  padding-bottom: 6px;
  padding-left: 5px;
  padding-top: 1px;
  color: #242424;
  margin-bottom: 5px;
}

.block-form {
  display: none;
}
.edit_block {
  display: none;
}
.save-block-button {
  font-size: 10px;
  position: absolute;
  right: 10px;
}

/*content styles*/

.style-controls {
  z-index: 3
}

.h1 {
  /*font-size: 40px;*/
  font-size: 5vh;
}
.h2 { 
  font-size: 30px;
}
.h3 { 
  font-size: 25px;
}
.h4 { 
  font-size: 20px;
}
.bold {
  font-weight: 900;
}
.semi-bold {
  font-weight: 600;
}
.normal {
  font-weight: 300;
}
.italic {
  font-style: italic;
}
.image-block {
  padding: 0 50px;

}
.cover-image {
  width: 100%;
  height: auto;
  z-index: 1;
}
.image-field {
  margin: 0 auto;
  text-align: center;
  min-width: 100%;
  min-height: 250px;
  width: 65%;
  height: auto;
  background-color: #e1e1e1;
  z-index: 1;
}
.image-form {
  font-size: 1em;
  overflow: hidden;
  text-align: left;
  padding: 10px;
  border: 1px solid #e1e1e1;
  display: none;
  margin: 5px auto;
  width: 50%;
  position: relative;
  background-color: white;
  bottom: 0;
  input {
    font-size: 15px;
    font-weight: 500;
  }
}



/* resizable image */

.resizable {
  margin-top: 15px;
}

.resizable .resizers{
  width: 65%;
  height: auto;
  /*border: 3px solid #4286f4;*/
  text-align: center;
  margin: 0 auto;
  position: relative;
  background-color: #f0f0f0;
  min-width: 300px;
  min-height: 300px;
}
.resizable .bordered{
  border: 3px solid #4286f4;
}
.resizers .bordered {
  border: 3px solid #4286f4;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 2px solid #4286f4;
  position: absolute;
  display: none;
}
.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; 
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

/* resize block */
.resize-padding {
  /*background-color: orange;*/
  height: 8px;
  width: 100%;
  cursor: ns-resize;
  position: absolute;
  bottom: 0;
}
.bottom-padding {
  /*background-color: yellow;*/
  height: 25px;
  width: 100%;
  position: relative
}
.selected-resizer {
    /*background-color: blue !important;*/
  }
#temp-image {
  width: 490px;
  height: auto;
  display: none;
}


