$grayLighter: #e1e1e1;
$grayLight: #999999;
$blue: #008cba;
$goodGray: #878e8b;
$aqua: #07c5ff;

ul.incidents-list {
  margin: 0;
  padding:0;
  li {
    padding: 20px;
    background-color: $grayLighter;
    -webkit-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 15px;
    list-style: none;
  }
  li:hover {
    background-color: $aqua;
    color: white;
  }
  a {
    text-decoration: none;
  }
}

#edit-incident-form {
  display: none;
}


/* incidents */
h4.incident-feed {
    margin-top: -1px;
    font-weight: bold;
    border-bottom: 1px solid $grayLighter;
    padding-bottom: 10px;

}

.incident-info {
  padding: 8px 10px;
  // border-top: 1px solid $grayLighter;
  // color: #545462;
}
.info-container {
  margin-bottom: 30px;
  background-color: #ffffff;
  li {
    list-style: none;
  }
  padding-bottom: 10px;
  h4 {
    // border: 1px solid $grayLighter;
    padding: 10px 0;
  }
}
  select {
    width: 100%;
    height: 35px;
  }
#incident-form {
}
.pad-left-10 {
  margin-left: 10px;
}
.bold {
  font-weight: bold;
}

#incident-toolbar {
  margin: 10px 0 20px 0;
  padding: 15px 15px 0 15px;
  background-color: #ffffff;
  a {
    margin-right: 10px;
  }
  // .button {
  //   background-color: white;
  //   color: black;
  //   border: 1px solid $blue;
  // }
}

#active-incidents {
  text-align: left;
  ul {
    li {
      list-style: none;
      margin-bottom: 15px;
    }
  }
}
.incident-content-block {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  line-height: 2em;
  h4 {
    margin-left: 30px;
  }
}
#resource-form {
  padding: 10px;
  border-top: 1px solid $grayLighter;
  border-bottom: 1px solid $grayLighter;
  padding-bottom: 50px;
}
#resource-panel {
  /*padding-bottom: 20px;*/
}
.panel-foot {
  margin-top: 10px;
  background-color: #f5f5f5;
  height:15px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #D7d7d7;
}
.incidents-panel {
  h4 {
    color: #3d3d3d;
  }
    a {
    color: #3d3d3d;
  }
}

.incident-index-content {
  display: none;
}

.sm-bip-input {
  input {
    width: 30px ;
  }
}

.md-bip-input {
  input {
    width: 60px ;
  }
}

.lg-bip-input {
  input {
    width: 120px ;
  }
}
#share-incident-button {
  position: absolute;
  right:30px;
  top: 14px;
}

.incident-name {
  a {
    color: #3d3d3d !important
  }
  h1 {
    font-weight: 777;
    margin-bottom: 20px;
  }
}