$aqua: #07c5ff;

/* show */
.plan-panel-head {
  background-color: #F5F5F5;
  border: 1px solid #DDD;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height:40px;
  .tabrow {
    text-align: left;
    list-style: none;
    margin: 0;
    margin-top: 7px;
    margin-left: 10px;
    padding: 0;
    line-height: 24px;
    position: relative;
  }
}
.masking-tape {
  height: 5px;
  width: 50px;
  color: blue;
  background-color: white;
  width: 100%;
  margin: 0;
  overflow: hidden;
  position: relative;
  border-right: 1px solid #ddd; 
  border-left: 1px solid #ddd;
}

.date-row {
  margin-bottom: 2px;
  padding-bottom: 0;
  position: relative;
}
.date-tab {
  list-style: none;
  position: relative;
  /*margin-bottom: -7px;*/
  margin-left: -10px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  .top {   
    width: 60px;
    background-color: white;
    border: 1px solid #DDD;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    border-bottom: none;
    z-index: 1 !important;
    position: relative;

  }

  .bottom {
    width: 60px;
    background-color: white;
    border: 1px solid #DDD;
    height: 20px;
    position: absolute;
    margin-top: -18px;
    z-index: 2 !important;
    border-bottom: 1px solid white;
    border-top: none;
    text-align: center;
  }
  .active {
    height: 21px;
  }
}
.new-plan {
  font-size: 2.5em;
  color: #B4B4B4;
}
.expanded { border-bottom: none !important; }
.plan-row {
  z-index: 2;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
  padding: 10px;
  font-weight: 700;
  background-color: white;
  a {
    color: #3D3D3D !important;
  }
}
.list-content {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.situation {
  /*border-top: 1px solid #DDD;*/
    border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.situation-content {
  border-bottom: 1px solid #DDD;
  padding: 10px 20px;
  display: none;
  textarea {
    width: 100%;
  }
  input {
    border-radius: 5px;
    margin-right: 10px;
  }
}
span.plans-button {
  margin-top: -7px;
}
/* Incident Objectives */
#objectives-list {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.objectives-list {
  border-bottom: 1px solid #DDD;
  padding: 10px 5px;
  display: none;
  .new-objective {
    color: #a19afc;
    size: 1.2em;
  }
  ol {
    padding-left: 20px;
  }
}
#objective-form {
  display: none;
  position: relative;
  textarea {
    width: 100%;
  }
  input {
    width: 100px;
  }
}
#objectives {
  input {
    width: 100%;
  }
}
.delete-objective {
  width:15px;
  height: 15px;
  font-size: 10px;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  font-weight: 666;
  position: absolute;
  left: 10px;
}
a.delete-objective:hover {
  color: white;
}

/* Activities */
#activity-list {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.activities-list {
  border-bottom: 1px solid #DDD;
  padding: 10px 5px;
  display: none;
  ul {
    padding-left: 20px;
  }
}
#activity-form {
  display: none;
  position: relative;
  textarea {
    width: 100%;
  }
  input {
    width: 100%;
  }
}
.forms-list {
  display: none;
  padding: 10px 5px;
  ul {
    padding-left: 20px;
  }
}
#iap-content {
  border-bottom: 1px solid #DDD !important;
  a {
    color: #3d3d3d;
  }
  a:hover {
    color: #3d3d3d;
  }
  a:visited {
    color: #3d3d3d;
  }
}
.title-row {
  border-right: 1px solid black;
  div {
    height: 40px;
  }
}
/* Resources*/

#resource-list {
  border-left: 1px solid #DDD;
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}
.resources-list {
  border-bottom: 1px solid #DDD;
  padding: 10px 5px;
  display: none;
  .new-resource {
    color: #a19afc;
    size: 1.2em;
  }
  ul {
    padding-left: 20px;
  }
}
#resource-form {
  display: none;
  position: relative;
  textarea {
    width: 100%;
  }
  input {
    width: 100%;
  }
}
  
/* IAP */

#iap-row {
  border-left: 1px solid #DDD;
  border-right: 1px solid #DDD;
}

.form-row {
  position: relative;
  border-top: 1px solid black;
  height: 30px;
  border-right: 1px solid black;
}
.top-row {
  border-top: 1px solid black;
}
.bottom-row {
  border-right: 1px solid black;
}
.small {
  font-size: .70em;
}
.small-box {
  padding-right: 0;
  padding-left: 5px;
  min-height: 30px;
}
.bl {
  border-left: 1px solid black;
}
.bt {
  border-top: 1px solid black;
  margin-top: -1px;
}

/* ICS 202 Incident Objectives*/
#print-container {
  margin: 0px;
  padding: 0 10px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  height: 1070px !important;
  width: 740px

}
#incident-objectives {
  overflow: hidden;
  #ops-period {
    border-top: 1px solid black;
    border-left: 1px solid black;
  }
  #control-objectives {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    min-height: 449px;
    overflow: hidden;
    ul {
      line-height: 2em;
    }
  }
  #weather-forecast {
    border-left: 1px solid black;
    min-height: 300px;
    overflow: hidden;
  }
  #general-safety-message {
    border-top: 1px solid black;
    height: 143px;
    overflow: hidden;
  }
  #attachments {
    overflow: hidden;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    ul {
      list-style: none;
      /*line-height: 2em;*/
    }
  }
  .prepared-by-row {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    /*border-bottom: 1px solid black;*/
  }
 
}
.tall-rows {
  min-height: 300px;
}
.medium-rows {
  min-height: 200px;
}
.short-rows {
  min-height: 100px;
}
.padded-box {
  padding-left: 20px;
}
.new-button {
  font-size: 2em;
  color: #333;
}
.header-row {
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 5px;
  border-left: 1px solid black;
}
#weather-form {
  textarea {
    width: 100%;
    height: 80%;
  }
}
#safety-form {
  textarea {
    width: 100%;
    height: 100%;
  }
}
.bip-input {
  input {
    margin-right: 5px;
  }
}
h1.header {
  text-align: center;
  margin-bottom: 30px;
}

.print-button {
  margin-top: 25px;
}

/* ICS 202 Incident Organization */

.split-right {
  position: relative;
  border-bottom: 1px solid black;
  min-height: 40px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.split-left {
  position: relative;
  border-bottom: 1px solid black;
  min-height: 35px;
  border-left: 1px solid black;
}

.content-box {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  height: 30px;
  margin: 0;
  padding: 8px 5px;
}
.right-column {
  border-right: 1px solid black;
}
#organization-assignments {
  h4 {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.team-form {
  overflow: hidden;
}