$aqua: #07c5ff;

.date-row {
  margin-bottom: 2px;
  padding-bottom: 0;
  position: relative;
}
.date-tab {
  list-style: none;
  position: relative;
  /*margin-bottom: -7px;*/
  margin-left: -10px;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  .top {   
    width: 60px;
    background-color: white;
    border: 1px solid #777;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    border-bottom: none;
    z-index: 1 !important;
    position: relative;

  }
  .bottom {
    width: 60px;
    background-color: white;
    border: 1px solid #777;
    height: 20px;
    position: absolute;
    margin-top: -18px;
    z-index: 2 !important;
    border-bottom: 1px solid white;
    border-top: none;
    text-align: center;
  }
  .active {
    height: 21px;
  }
}
.new-plan {
  font-size: 2.5em;
  color: #B4B4B4;
}
.plan-row {
  border-bottom: 1px solid #777;
  padding: 10px;
  font-weight: 700;
}
.situation {
  /*border-top: 1px solid #777;*/
}
.situation-content {
  border-bottom: 1px solid #777;
  padding: 10px 20px;
  display: none;
  textarea {
    width: 100%;
  }
  input {
    border-radius: 5px;
    margin-right: 10px;
  }
}
/* Objectives */
.objectives-list {
  border-bottom: 1px solid #777;
  padding: 10px 0px;
  display: none;
  .new-objective {
    color: #a19afc;
    size: 1.2em;
  }
  ol {
    padding-left: 20px;
  }
}
#objective-form {
  display: none;
  position: relative;
  textarea {
    width: 100%;
  }
  input {
    width: 100px;
  }
}
.actions-list {
  border-bottom: 1px solid #777;
  padding: 10px 0px;
  display: none;
}
.forms-list {
  border-bottom: 1px solid #777;
  padding: 10px 0px;
  display: none;
}
.resources-list {
  border-bottom: 1px solid #777;
  padding: 10px 0px;
  display: none;
}
  
/* IAP */
#cover {
  padding-top: 75px;
  padding-bottom: 100px;
  text-align: center;
  border: 2px solid black;
  h1 {
    font-weight: 700;
    font-size: 3em;
  }
  h2 {
    font-weight: 700;
    font-size: 2em;
  }
  #picture {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 75%;
    height: auto;
  }
  .cost-code {
    margin-top: 30px;
    h3 {
    font-weight: 700;
    }
  }
}
.form-row {
  position: relative;
  border-bottom: 1px solid black;
  min-height: 40px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.top-row {
  border-top: 1px solid black;
}
.small {
  font-size: .70em;
}
.small-box {
  padding-right: 0;
  padding-left: 5px;
  min-height: 40px;
}
.bl {
  border-left: 1px solid black;
}
#incident-objectives {
  ul {
    list-style: none;
  }
}
.tall-rows {
  min-height: 300px;
}
.medium-rows {
  min-height: 200px;
}
.short-rows {
  min-height: 100px;
}
.padded-box {
  padding-left: 20px;
}
.new-button {
  font-size: 2em;
  color: #333;
}
.header-row {
  text-align: center;
  background-color: #f3f3f3;
  padding-top: 10px;
}
