#resource_order_number {
  padding-left: 30px;
}
#order-number-input {
  display: none;
  /*overflow: hidden;*/
}
.order-number-prefix {
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
  color: #999;
}
#resource-form {
  select {
    border: 1px solid #CCC;
    color: #999;
    padding-left: 10px;
  }
}
a.delete-resource {
  color: white;
  font-weight: 900;
  font-size: 1.3em;
  position: absolute;
  width:15px;
  right: 5px;
  top: 5px;

}
a.delete-resource:hover {
  text-decoration: none;
  color: red;
}