<%= content_for :title, "Cover" %>
<div class="container">
  <div id="cover" class="lg-6-col">
    <div id="plan-title">
      <h1>Incident Action Plan</h1>
      <h2>MCG Fires 2019</h2>
    </div>
    <div class="md-12-col">
      <%= image_tag 'picture.jpg', id: "picture"  %>
    </div>
    <div class="cost-code">
      <h3>7343454 – P23872</h3>
    </div>
  </div>
</div>
