<%= content_for :title, "The Plan" %>
<!-- <p id="notice"><%= notice %></p> -->

<div class="row">
  <%= link_to (fa_icon('plus-circle')), new_plan_path, class: "new-plan" %> 
</div>
<div class="row">
  <ul class="date-row">
    <li class="date-tab">
      <div class="top"></div>
      <div class="bottom active">6/18</div>
    </li >
    <li class="date-tab">
      <div class="top"></div>
      <div class="bottom">6/17</div>
    </li >
    <li class="date-tab">
      <div class="top"></div>
      <div class="bottom">6/16</div>
    </li >
  </ul>
  <div class="plan-row situation">SITUATION</div>
  <div class="situation-content">
    Hello world. This is where the content for the current situation would go. It would be
    dynamic and updated with a form. That will come later.
  </div>
  <div class="plan-row">OBJECTIVES</div>
  <div class="objectives-list">
    <ol>
      <li>Make sure it all looks good before adding dynamic content.</li>
      <li>The padding should be fixed, but there is not point doing it now.</li>
      <li>Maybe the line height could be a little higher, but again, wait until later.</li>
    </ol>
  </div>
  <div class="plan-row">CURRENT AND PLANNED ACTIONS</div>
</div>