  <div class="row">
    <div class="col-lg-8 col-xs-12 center-block">
      <h1>New Plan</h1>

      <%= render 'form', plan: @plan %>

      <%= link_to 'Back', incident_plans_path(@incident) %>
    </div>
  </div>
