<div class="row">
  <div class="col-sm-12 col-md-8 form-group center-block">
    <h2>Your Checkin Form has been submitted.</h2>
    <p>Please send you finance forms to the finance email address.</p>
  </div>
</div>