<%# Menu items that that should appear in the navbar of all logged-in users,
regardless of their roles %>

<% if @incident %>
  <% unless request.path == 'plans/new' %>
    <li><%= link_to "Plans", incident_plans_path(@incident) %></li>
    <li><%= link_to "Resources", incident_resources_path(@incident) %></li>
  <% end %>
<% end %>
<li><%= link_to t('navigation.incidents'), incidents_path %></li>
