<%# Menu items that that should appear in the navbar of all logged-in users,
regardless of their roles %>

<% if @incident %>
  <% unless request.path == 'plans/new' || request.path == '/incidents/new' %>
  <% unless @incident.plans.empty? %>
    <li><%= link_to "IAP", incident_plan_path(@incident, @incident.plans.last) %></li>
  <% else %>
  <li><%= link_to "IAP", new_incident_plan_path(@incident) %></li>
  <% end %>
    <li><%= link_to "Resources", incident_resources_path(@incident) %></li>
  <% end %>
<% end %>
<li><%= link_to t('navigation.incidents'), incidents_path %></li>
